.form_container {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.5rem;
  }
  input {
    color: #f0f0f0;
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    outline: none;
    border: 2px solid #4c00a9;
    width: 100%;
    transition: 0.2s;
    &::placeholder {
      color: #aaa;
    }
    &:hover,
    &:focus {
      border: 2px solid #f0f0f0;
    }
  }
  .password {
    position: relative;
    .view_password {
      border: none;
      background: transparent;
      position: absolute;
      top: 2px;
      right: 5px;
      transition: 0.2s;
      margin: 0;
    }
  }
  button {
    background-color: #f0f0f0;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    color: #4c00a9;
    font-size: 1.125rem;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 1rem;
    &:hover {
      filter: brightness(0.8);
    }
  }
  p {
    margin-top: 2rem;
    align-self: center;
    a {
      color: #f0f0f0;
    }
  }
}
